@import url('https://fonts.googleapis.com/css2?family=Yellowtail&family=Krona+One&family=Rubik:wght@500&family=Oswald&family=Raleway&display=swap');
/*button {
  width: 10%;
  height: 8em;
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  background-color: rgb(250, 250, 250);
  cursor: pointer;
}*/

.logo {
  font-family: 'Yellowtail', Georgia, serif;
  font-size: 2.8em;
  cursor: pointer;
  margin-bottom: 0;
}

.book-title {
  font-family: 'Rubik', Helvetica, sans-serif;
}

.book-author {
  font-family: 'Raleway', Arial, sans-serif;
}

img {
  width: 150px;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  margin: 1em;
  grid-gap: 1em;
}

.search-result {
  text-decoration: none;
  list-style-type: none;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5px;
  background-color: white;
  text-align: center;
  padding: 5px;
  /*box-shadow: 0px 1px 1px 1px rgba(80, 80, 80, 0.1);*/
}

.search-result:hover {
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

.search-result button {
  padding: 10px;
}

form {
  margin: 1em auto;
  text-align: center;
}

/*button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}*/

button {
  display: inline-block;
  background-color: black;
  border: none;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.25em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  color: black;
  background-color: white;
  border: 0.1em solid black;
  box-sizing: border-box;
}

form button {
  /*background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  border: 0;
  border-radius: 3;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
  color: white;
  height: 48;*/
  padding: 0 30px;
  min-width: auto;
  width: 10%;
  height: 2.4em;
  font-size: 1.2em;
}

.search-bar {
  width: 50%;
  height: 1.5em;
  margin: 1em;
  border-bottom: 2px solid lightgray;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  /*background: rgb(245, 245, 245);*/
  padding: 10px;
  font-size: 1.2em;
}

.search-result {
  cursor: pointer;
}

.preview {
  max-width: 70%;
  margin: 1em auto;
  border: 1px solid rgb(236, 236, 236);
}

.preview header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0em 1em;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.preview h2 {
  font-size: 1.9em;
}

.img-and-desc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1em;
  box-sizing: border-box;
}

.img-and-desc .img {
  grid-column: 1 / 2;
  grid-row: auto;
  height: 20%;
}

.img-and-desc .desc {
  grid-column: 2 / 6;
}

.img-and-desc button {
  padding: 5px 10px;
  margin: 0.5em 0;
  font-size: 0.9em;
  font-family: Helvetica, Arial, sans-serif;
}

.info {
  display: inline-block;
  grid-column: 1 / 4
}

.back {
  display: inline-block;
  grid-column: 4 / 5;
}

.back-button {
  display: block;
  margin: 2.3em auto;
  width: 80%;
  padding: 5px;
  font-size: 0.9em;
  box-sizing: border-box;
}

/*header {
  background-color: rgb(85, 215, 224);
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr;*/
  /*padding: 5px;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

header button {
  grid-column: 3 / 4;
  height: 90%;
  width: 30%;
  min-height: auto;
  min-width: auto;
  margin: 0em 0.5em 0.5em auto;
}

.new-habit {
  background-color: rgb(247, 247, 247);
  text-align: center;
}

.new-habit button {
  width: 5%;
  height: 2.25em;
}

.add-new-habit {
  margin: 1em 0em 1em 1em;
  padding: 5px;
  width: 30%;
}

ul {
  background-color: red;
  text-align: center;
}

li {
  list-style-type: none;
  background-color: rgb(247, 247, 247);
  padding: 5px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}*/
